body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 390px;
    background: black;
    border-radius: 10px;
    color: white;
    font-family: arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 70px 63px -60px black;
    margin-bottom: 100px;
    transition: all .8s;
}

.border {
    height: 369px;
    width: 280px;
    border-radius: 10px;
    position: relative;
}

.border:hover {
    border: 1px solid white;
}

.card0 {
    background: url('https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-oneill-al-pacino.jpg') center center no-repeat;
    background-size: 300px;
}

.card0:hover {
    background: url('https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-oneill-al-pacino.jpg') left center no-repeat;
    background-size: 600px;
}

.card1 {
    background: url('https://i.pinimg.com/originals/28/d2/e6/28d2e684e7859a0dd17fbd0cea00f8a9.jpg') center center no-repeat;
    background-size: 300px;
}

.card1:hover {
    background: url('https://i.pinimg.com/originals/28/d2/e6/28d2e684e7859a0dd17fbd0cea00f8a9.jpg') left center no-repeat;
    background-size: 600px;
}

.card2 {
    background: url('https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg') center center no-repeat;
    background-size: 300px;
}

.card2:hover {
    background: url('https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg') left center no-repeat;
    background-size: 600px;
}

.icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 50px;
    justify-content: space-around;
    align-items: center;
    top: 226px;
}

a {
    color: white;
}

.card h2 {
    margin: 20px;
    opacity: 0;
    transition: all 1s;
}

.fab {
    opacity: 0;
    transition: all 2s;
}

.card:hover h2,
.card:hover .fab {
    opacity: 1;
}